# Copy this file to ~/.w205-data-ingest.cfg and replace with your values

[Youtube]
developer_key=AIzaSyDXQgUC3yT9gzQfhf5DIpqas5tXyKCph2Q
client_id=W205FinalProject
track=music|entertainment|video|2016|lyric|watch|dance|e-|pop|country|rap|rnb|rock|comedy|official|vevo|billboard|rihanna|stylez|harmony|rida|posner|jordan|capyac|dnce|beat|bebe|macklemore|daya|smith|gaga|selfie|kardashian|trump|late|night|bieber|legend|teigen|fergie|witherspoon|keys|franco|diddy|drake|gervais|vergara|lopez|demi|beckham|weekly|rolling|stone|enews|colbert|fallon|daly|snl|daly
days_to_fetch=1
partial_results=True

[MongoDB]
source=Youtube
host=67.228.179.2
port=27017